<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/student/create" method="post" th:object="${studentCreateDTO}">
<!--    <label>Code student</label>-->
<!--    <input type="text" name="codeStudent" th:field="*{codeStudent}"/><br>-->
    <label>Name student</label>
    <input type="text" name="nameStudent"th:field="*{nameStudent}"/><br>
    <p style="color: red" th:if="${#fields.hasErrors('nameStudent')}" th:errors="*{nameStudent}"></p>
    <label>Point</label>
    <input type="text" name="point" th:field="*{point}"/><br>
    <p style="color: red" th:if="${#fields.hasErrors('point')}" th:errors="*{point}"></p>
    <label>Gender</label>
    <input type="text" name="gender" th:field="*{gender}"/><br>
    <select th:field="*{classRoom}">
        <option th:each="classroom: ${classrooms}"
                th:text="${classroom.nameClass}"
                th:value="${classroom.id}"></option>
    </select>
    <button type="submit">Create</button>
</form>
</body>
</html>