<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace = "~{common_student::headerStudent}">

</div>
<h1>Student Talk List</h1>
<table border="1" style="width: 1000px">
    <tr>
        <th>No</th>
        <th>Id</th>
        <th>Name</th>
        <th>Point</th>
        <th>Gender</th>
        <th>Classroom</th>
        <th>Add Room</th>
        <th>Detail</th>
    </tr>
    <tr th:each="student,loop: ${studentTalkList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${student.codeStudent}"></td>
        <td th:text="${student.nameStudent}"></td>
        <td th:text="${student.point}"></td>
        <td>
            <p th:if="${student.gender == 0}">Male</p>
            <p th:if="${student.gender == 1}">FeMale</p>
            <p th:if="${student.gender == null}">Other</p>
        </td>
        <td th:text="${student.classRoom.nameClass}"></td>
        <td><a th:href="@{student/add-room/{id}(id = ${student.codeStudent})}">Add</a></td>
        <td>
<!--            <button onclick="window.location.href='/student/detail?codeStudent=${temp.codeStudent}'">Detail by-->
<!--                Param-->
<!--            </button>-->
            <a th:href="@{/student/detail/{codeStudent}(codeStudent=${student.codeStudent})}"><button>Detail</button></a>
        </td>
    </tr>
</table>

<div th:replace = "~{common_student::footerStudent}"></div>
</body>
<script>

</script>
</html>
