<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<style>
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: red;
    }
</style>
<body>
<h1 style="text-align: center">Shop Hoa Hạnh Phúc</h1>
<a th:href="@{/cart}"><button class="btn btn-primary">Giỏ Hàng</button></a>

<hr>

    <div class="card" style="width: 18rem; display: inline-block" th:each="flower : ${flowerList}">
        <a th:href="@{/detail/{id}(id=${flower.id})}"><div >
        <img th:src="${flower.image}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${flower.name}"></h5>
            <p class="card-text" th:text="${flower.description}"></p>
        </div>
    </div>
</a>
</div>


</body>
</html>