<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/j_spring_security" method="post">
  <div class="form-
  group">
    <label class="form-control-label text-muted">Username</label>
    <input type="text" id="email" name="username" placeholder="Phone no or email id"
           class="form-control">
  </div>

  <div class="form-group">
    <label class="form-control-label text-muted">Password</label>
    <input type="password" id="psw" name="password" placeholder="Password" class="form-control">
  </div>
  <button class="btn-block btn-color">Login to Tidi</button>

  <input type="checkbox" name="remember">remember me?
</form>
</body>
</html>