<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>
<div style="margin: 0 auto; text-align: center; width: 400px">
    <form th:action="@{/save}" method="post" th:object="${student}">
        <div class="mb-3">
            Student Name
            <input type="text" th:field="*{name}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <p th:if="${#fields.hasErrors()}" style="color: red" th:errors="*{name}"></p>
        </div>
        Class
        <select th:field="*{classes.id}"  class="form-select" aria-label="Default select example">
            <option th:each="class : ${classList}" th:value="${class.getId()}" th:text="${class.getName()}"></option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>
